.address {
  padding: 32px;
  width: 100%;
  height: calc(100vh - 80px);

  &Title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  &Subtitle {
    margin-bottom: 24px;
  }
}
