.menu {
  padding: 24px 0 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  height: calc(100vh - 80px);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px 0 0 6px;
    border: 6px solid rgb(28, 28, 30, 0.2);
  }

  &Title {
    font-size: 20px;
    line-height: 24px;
    color: #1c1c1e;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .menuItem {
      list-style-type: none;

      .menuItemLink {
        text-decoration: none;
        color: #1c1c1e;
        list-style-type: none;
        display: flex;
        gap: 16px;
        cursor: pointer;
        position: relative;
        align-items: center;
        width: 100%;
        transition: 0.3s all ease-out;
        padding: 2px 0px;

        &:hover {
          opacity: 0.6;
        }

        &.active {
          &::before {
            content: "";
            position: absolute;
            border-right: 3px solid #4f27bf;
            border-radius: 6px 0 0 6px;
            height: 100%;
            left: 99%;
          }
        }

        .menuIconWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
        }

        &Text {
          font-size: 20px;
          line-height: 24px;
          font-family: "Montserrat SemiBold", sans-serif;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
