.header {
  background-color: #4f27bf;
  height: 80px;
  display: flex;

  &Container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    gap: 10px;

    .headerLogo {
      display: flex;
      align-items: center;
      color: #ffffff;
      text-decoration: none;

      &Title {
        padding-left: 26px;
        font-size: 20px;
        line-height: 24px;
      }
    }

    .headerProfile {
      display: flex;
      align-items: center;

      &Wrapper {
        padding-left: 16px;

        .headerProfileText {
          font-size: 20px;
          line-height: 24px;
          font-family: "Montserrat Bold", sans-serif;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .headerContainer {
    padding: 0 10px;

    .headerLogoTitle {
      font-size: 18px;
    }

    .headerProfile {
      &Wrapper {
        .headerProfileText {
          font-size: 16px;
        }
      }
    }
  }
}
