.burgerMenu {
  &Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    display: none;

    &.active {
      display: flex;
    }
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: calc(100vh - 80px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 15;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    padding: 15px;
  }
}
